In [1]:
import pandas as pd
import sklearn

import csv
import random
import math
import operator

In [2]:
 
# def loadDataset(filename, split, trainingSet=[] , testSet=[]):
# 	with open(filename, 'rb') as csvfile:
# 	    lines = csv.reader(csvfile)
# 	    dataset = list(lines)
# 	    for x in range(len(dataset)-1):
# 	        for y in range(4):
# 	            dataset[x][y] = float(dataset[x][y])
# 	        if random.random() < split:
# 	            trainingSet.append(dataset[x])
# 	        else:
# 	            testSet.append(dataset[x])
 
 
# def euclideanDistance(instance1, instance2, length):
# 	distance = 0
# 	for x in range(length):
# 		distance += pow((instance1[x] - instance2[x]), 2)
# 	return math.sqrt(distance)


# def getNeighbors(trainingSet, testInstance, k):
# 	distances = []
# 	length = len(testInstance)-1
# 	for x in range(len(trainingSet)):
# 		dist = euclideanDistance(testInstance, trainingSet[x], length)
# 		distances.append((trainingSet[x], dist))
# 	distances.sort(key=operator.itemgetter(1))
# 	neighbors = []
# 	for x in range(k):
# 		neighbors.append(distances[x][0])
# 	return neighbors

def euclideanDistance(testset, trainingset):
    distance = 0
    for x in range(len(testset-1)):
        distance += pow((testset[x] - trainingset[x]), 2)
    return math.sqrt(distance)

def getNeighbors(trainset, testinstance, k):
    distances = []
    for x in range(len(trainset)):
        dist = euclideanDistance(testinstance[x], trainset[x])
        distances.append((trainingset[x], dist))
    distances.sort(key=operator.itemgetter(1))
    neighbors = []
    for x in range(k):
        neighbors.append(distances[x][0])
    return neighbors

In [2]:
user_data = pd.read_csv('../data/dataset.csv')
print(user_data.head())

    Id  Experience   Company  php  python  qa  js  qualification  level  age
0  1.0         0.0  Deerwalk    1       0   0   0              1      1    1
1  2.0         4.0    F1soft    0       0   0   1              2      3    5
2  3.0         4.0  Leapfrog    0       1   0   0              2      3    3
3  4.0         4.0  Leapfrog    0       0   1   0              2      3    4
4  5.0         1.0    F1soft    1       0   0   0              3      2    2

In [3]:
user_data.set_index('Id', inplace=True)

In [4]:
user_data.head()

     Experience   Company  php  python  qa  js  qualification  level  age
Id
1.0         0.0  Deerwalk    1       0   0   0              1      1    1
2.0         4.0    F1soft    0       0   0   1              2      3    5
3.0         4.0  Leapfrog    0       1   0   0              2      3    3
4.0         4.0  Leapfrog    0       0   1   0              2      3    4
5.0         1.0    F1soft    1       0   0   0              3      2    2

In [5]:
user_data.index.name = 'Userid'
company = user_data['Company']
user_data.drop('Company', axis=1, inplace=True)
user_data.head()

        Experience  php  python  qa  js  qualification  level  age
Userid
1.0            0.0    1       0   0   0              1      1    1
2.0            4.0    0       0   0   1              2      3    5
3.0            4.0    0       1   0   0              2      3    3
4.0            4.0    0       0   1   0              2      3    4
5.0            1.0    1       0   0   0              3      2    2

In [6]:
company_data = pd.read_csv('../data/quantified_job_data.csv')
company_data.head()

   Jobid  Experience  php  python  qa  js  qualification  age  level
0      1           0    0       0   0   1              1    4      1
1      2           1    0       0   0   1              1    3      2
2      3           0    0       0   0   1              1    3      1
3      4           4    0       0   0   1              2    4      3
4      5           2    0       1   0   0              1    4      2

In [7]:
company_data.set_index('Jobid', inplace=True)
company_data.head()

       Experience  php  python  qa  js  qualification  age  level
Jobid
1               0    0       0   0   1              1    4      1
2               1    0       0   0   1              1    3      2
3               0    0       0   0   1              1    3      1
4               4    0       0   0   1              2    4      3
5               2    0       1   0   0              1    4      2

In [8]:
user_data.head()

        Experience  php  python  qa  js  qualification  level  age
Userid
1.0            0.0    1       0   0   0              1      1    1
2.0            4.0    0       0   0   1              2      3    5
3.0            4.0    0       1   0   0              2      3    3
4.0            4.0    0       0   1   0              2      3    4
5.0            1.0    1       0   0   0              3      2    2

In [10]:
# from scipy.spatial.distance import cosine

In [11]:
# sim = 1 - cosine(user_data, company_data)
# sim

In [12]:
from sklearn.metrics.pairwise import linear_kernel

In [13]:
cosine_sim = linear_kernel(user_data, company_data)

In [14]:
cosine_sim

array([[ 6.,  6.,  5., ..., 10.,  7.,  7.],
       [20., 26., 17., ..., 40., 22., 28.],
       [17., 21., 14., ..., 35., 20., 25.],
       ...,
       [20., 27., 17., ..., 44., 23., 30.],
       [11., 11.,  9., ..., 20., 14., 13.],
       [14., 19., 12., ..., 27., 16., 22.]])

In [9]:
dataframe = pd.DataFrame(cosine_sim)
dataframe

NameError: name 'cosine_sim' is not defined

In [10]:
import numpy as np

def cos_sim(a, b):
	"""Takes 2 vectors a, b and returns the cosine similarity according 
	to the definition of the dot product
	"""
	dot_product = np.dot(a, b)
	norm_a = np.linalg.norm(a)
	norm_b = np.linalg.norm(b)
	return dot_product / (norm_a * norm_b)

In [11]:
def getNeighbors(trainset, testinstance, k):
    distances = []
    for x in range(1, trainset.shape[0]):
        dist = cos_sim(testinstance.iloc[[x]].values, trainset.iloc[[x]].values)
        distances.append((trainingset[x], dist))
    distances.sort(key=operator.itemgetter(1))
    neighbors = []
    for x in range(k):
        neighbors.append(distances[x][0])
    return neighbors

In [46]:
getNeighbors(user_data, company_data, 10)

ValueError: shapes (1,8) and (1,8) not aligned: 8 (dim 1) != 1 (dim 0)

In [32]:
user_data.shape[0]

1000

In [35]:
user_data.head()

        Experience  php  python  qa  js  qualification  level  age
Userid
1.0            0.0    1       0   0   0              1      1    1
2.0            4.0    0       0   0   1              2      3    5
3.0            4.0    0       1   0   0              2      3    3
4.0            4.0    0       0   1   0              2      3    4
5.0            1.0    1       0   0   0              3      2    2

In [38]:
user_data.iloc[[1]]

        Experience  php  python  qa  js  qualification  level  age
Userid
2.0            4.0    0       0   0   1              2      3    5

In [43]:
single_user_ud = user_data.iloc[[1]]

In [79]:
single_user_ud.values[0]

array([4., 0., 0., 0., 1., 2., 3., 5.])

In [48]:
company_data.iloc[[1]]

       Experience  php  python  qa  js  qualification  age  level
Jobid
2               1    0       0   0   1              1    3      2

In [73]:
a = np.array([[4, 0, 0, 0, 1, 2, 3, 5]]).tolist()
b = np.array([[4, 0, 0, 0, 1, 2, 3, 5]]).tolist()

In [75]:
a[0]

[4, 0, 0, 0, 1, 2, 3, 5]

In [76]:
b[0]

[4, 0, 0, 0, 1, 2, 3, 5]

In [78]:
cos_sim(a[0],b[0])

1.0

In [12]:
user_data.head()

        Experience  php  python  qa  js  qualification  level  age
Userid
1.0            0.0    1       0   0   0              1      1    1
2.0            4.0    0       0   0   1              2      3    5
3.0            4.0    0       1   0   0              2      3    3
4.0            4.0    0       0   1   0              2      3    4
5.0            1.0    1       0   0   0              3      2    2

In [13]:
user_data['Experience'] = round(user_data['Experience'])

In [14]:
user_data.head()

        Experience  php  python  qa  js  qualification  level  age
Userid
1.0            0.0    1       0   0   0              1      1    1
2.0            4.0    0       0   0   1              2      3    5
3.0            4.0    0       1   0   0              2      3    3
4.0            4.0    0       0   1   0              2      3    4
5.0            1.0    1       0   0   0              3      2    2

In [88]:
abs(1.0)

1.0

In [89]:
round(1.0)

1

In [15]:
user_data['Experience'] = user_data['Experience'].astype(int)

In [16]:
user_data.head()

        Experience  php  python  qa  js  qualification  level  age
Userid
1.0              0    1       0   0   0              1      1    1
2.0              4    0       0   0   1              2      3    5
3.0              4    0       1   0   0              2      3    3
4.0              4    0       0   1   0              2      3    4
5.0              1    1       0   0   0              3      2    2

In [17]:
company_data.head()

       Experience  php  python  qa  js  qualification  age  level
Jobid
1               0    0       0   0   1              1    4      1
2               1    0       0   0   1              1    3      2
3               0    0       0   0   1              1    3      1
4               4    0       0   0   1              2    4      3
5               2    0       1   0   0              1    4      2

In [104]:
getNeighbors(user_data, company_data, 10)

ValueError: shapes (1,8) and (1,8) not aligned: 8 (dim 1) != 1 (dim 0)

In [22]:
def getNeighbors(trainset, testinstance, k):
    distances = []
    for x in range(1, trainset.shape[0]):
        dist = cos_sim(testinstance.iloc[[x]].values.tolist()[0], trainset.iloc[[x]].values.tolist()[0])
        print(dist)
        distances.append((trainset.iloc[[x]], dist))
    distances.sort(key=operator.itemgetter(1))
    neighbors = []
    for x in range(k):
        neighbors.append(distances[x][0])
    return neighbors

In [26]:
result = getNeighbors(user_data, company_data, 1)
type(result)

0.8764598212022147
0.6471502289294341
0.9565217391304348
0.7648661601319408
0.8660254037844386
0.9202790773710513
0.9556910644282595
0.9116846116771036
0.8778457198291794
0.8872442622820286
0.7894619383863176
0.6894410398057407
0.9214064786997642
0.8528028654224417
0.5555838995037159
0.8426648406178137
0.8164965809277259
0.8086075400626399
0.7818700369735248
0.9245003270420487
0.8764598212022147
0.6024640760767093
0.9191450300180578
0.8989331499509895
0.9111469032188405
0.8914849883204187
0.5372153093502535
0.9594032236002469
0.75
0.7184212081070996
0.8922178162191937
0.9279607271383371
0.6158402871356008
0.7453559924999299
0.9354143466934853
0.657951694959769
0.5153385008824815
0.9217648016985405
0.9345030284511886
0.9253115963758354
0.7575315107724846
0.4891159880445184
0.9649878498652701
0.8539864924534399
0.9165785722292266
0.5146502354656654
0.5395637425347116
0.755742181606458
0.789823242704962
0.6735753140545634
0.44095855184409843
0.9831353843426084
0.7642171012073582
0.7010681840159741
0.920736884379251
0.9581402751608169
0.9799118698777316
0.7071067811865476
0.8278373543847156
0.9414688716912717
0.5380275868489702
0.8267540335004896
0.9332565252573829
0.8178608201095309
0.9221388919541469
0.8980265101338746
0.7953559537197222
0.8574029741841698
0.9478946531678896
0.9718253158075502
0.9547859244962514
0.7412493166611012
0.9316142209946914
0.8101914936669332
0.8705149382958675
0.8255008255012383
0.8975602524508653
0.9078464896190052
0.6689936080056726
0.8470258733879852
0.6024640760767093
0.8017837257372732
0.9581402751608169
0.858395075278952
0.8086937042208113
0.7572401854185359
0.8958280175293669
0.8391463916782737
0.7705517503711219
0.9111469032188405
0.8744746321952063
0.708683386892301
0.8890008890013334
0.7627700713964739
0.67700320038633
0.966379267621615
0.9354143466934853
0.7115124735378853
0.7299963950884313
0.6837634587578276
0.8593378488473195
0.4883862905055044
0.8366600265340756
0.7169281790988649
0.8004448151580842
0.7191465199607916
0.9499829919932151
0.8728715609439694
0.9510340687309483
0.7590721152765897
0.9198662110078
0.8359140076371449
0.7735737130957593
0.6254627916220946
0.8870071077479607
0.7492686492653552
0.9185586535436918
0.5962472244699947
0.9037378388935389
0.777593185920953
0.8181818181818182
0.9486832980505138
0.8280786712108251
0.8006407690254357
0.7606388292556648
0.7442084075352507
0.7740702698132099
0.9192723907499135
0.9799118698777316
0.5673665146135801
0.5443310539518172
0.9284141650970551
0.5737753105492469
0.8660254037844387
0.7905694150420948
0.7807200583588265
0.7630583624573739
0.8951435925492911
0.8922178162191937
0.6242547892230822
0.8911873405929068
0.968962790249909
0.74535599249993
0.8160942667466479
0.8492077756084468
0.7951465679458908
0.9289190626744613
0.5185449728701348
0.7927472963448496
0.8185874846865607
0.9134141431056325
0.5406205059012895
0.8889155978893273
0.6343350474165466
0.5833333333333334
0.8119979429411501
0.6500112459665915
0.717492166446893
0.9665791143383891
0.9381941874331419
0.6024640760767093
0.760885910252682
0.9307578419910345
0.8028965419920907
0.9742785792574935
0.7388664511337207
0.6686478498357316
0.7669649888473704
0.8101914936669332
0.8616404368553293
0.792530488475616
0.5717594086231965
0.7779698928301774
0.8432740427115678
0.858116330321033
0.7484551991837489
0.7905694150420948
0.8746392856766494
0.9624354790229063
0.7024393586862705
0.8082238591204871
0.8807048459279792
0.9476225544736293
0.6614378277661476
0.8807048459279794
0.927536231884058
0.8922178162191937
0.9335200560186733
0.838870492807861
0.91569791623482
0.8891812384738002
0.8827235239145557
0.5000000000000001
0.8436958338752908
0.4949747468305832
0.8589058727506839
0.8378915848902159
0.8885233166386385
0.867527617235709
0.7795794428691073
0.9095085938862486
0.8787760582097436
0.9093257859606313
0.7949537509361168
0.9722718241315029
0.7407407407407407
0.8611111111111112
0.7756717518813396
0.873326063219467
0.8609460320922785
0.9233805168766386
0.8427498280790525
0.77005354108682
0.8980265101338746
0.5512494616707104
0.857690027870236
0.8143450710459552
0.8783100656536799
0.838870492807861
0.9335200560186733
0.7432561251138006
0.799502686333539
0.8920515501750789
0.8983222540938544
0.5728918992315464
0.8053160563513458
0.5186535359109834
0.7103355960663252
0.8751750525175062
0.9128709291752769
0.9045340337332909
0.7385489458759964
0.683536555146996
0.7960841664045328
0.7728525967890878
0.8126045083289422
0.7388664511337207
0.7144345083117603
0.7530655685082076
0.6963106238227914
0.8920515501750789
0.85779415410156
0.6546536707079772
0.8098582871985256
0.8838834764831844
0.8922178162191937
0.8728715609439696
0.8104432008587534
0.8746392856766494
0.8567808115693064
0.7126907593011395
0.922721569239401
0.7826908981308053
0.9075630385563792
0.5556623828915215
0.8728715609439696
0.9630868246861536
0.8588409390688649
0.799502686333539
0.9703621633430174
0.846710709554796
0.9395791278697605
0.7705517503711219
0.9664564423543813
0.9271050693011064
0.6087807775281012
0.7253185207353656
0.9395791278697605
0.7576144084141581
0.6354107097191861
0.8305395344999218
0.9550718099505201
0.7216878364870323
0.8492077756084468
0.8082238591204871
0.8775269089525567
0.8366600265340756
0.9166984970282112
0.44095855184409843
0.9341987329938275
0.9553170046101168
0.8492077756084467
0.8401680504168058
0.7744030926623664
0.5000000000000001
0.7977240352174656
0.8922178162191937
0.8703882797784892
0.8548504142651103
0.9495469152507922
0.7648661601319408
0.8068715304598785
0.9620942898608359
0.8876720657463709
0.6109598099719177
0.8183170883849714
0.5892556509887896
0.9096248571037153
0.5620026641711934
0.6054493496206035
0.8944271909999159
0.5669467095138409
0.686243566496721
0.9782319760890368
0.8109307588519342
0.8295613557843404
0.7254762501100116
0.7980238751210128
0.623980650222306
0.8451542547285166
0.567228142496929
0.9686648999069225
0.8872442622820286
0.899228803025897
0.8164965809277259
0.8273403039920306
0.7144345083117604
0.9111469032188405
0.833493574337282
0.8924133096001623
0.7018624063435964
0.8337966824563378
0.9112956546121257
0.5187513759338115
0.7142857142857143
0.855162802513895
0.8219949365267865
0.8077815012894347
0.8703882797784892
0.9051771436856569
0.8902638145194514
0.9315885051121783
0.8787760582097436
0.5812313756357793
0.5184758473652127
0.9097992698698113
0.8735706972682652
0.77138921583987
0.6642111641550714
0.93580087114741
0.7740702698132099
0.5388159060803247
0.8958333333333335
0.8255008255012383
0.8427498280790525
0.7092081432669752
0.7670929478598307
0.545544725589981
0.8664002254439634
0.8333333333333334
0.7171371656006361
0.8029550685469661
0.8114408259335794
0.9410425921026765
0.8703882797784892
0.8876253645985945
0.8869685939836239
0.899228803025897
0.9166666666666669
0.4839339184958273
0.922224668326776
0.8946300779688404
0.9074852129730302
0.8520128672302585
0.9478946531678896
0.6324555320336759
0.7456011350793257
0.7647191129018724
0.7543365091413573
0.9415130835240083
0.9411821050090531
0.7980238751210128
0.6793662204867575
0.7484551991837489
0.8685990362153793
0.9566122264907855
0.9055315508912547
0.5796736197002104
0.9052038109696288
0.9192723907499135
0.7175473098524098
0.8077815012894347
0.7258661863112977
0.8333333333333335
0.5352643613280604
0.5370861555295747
0.9363821838346235
0.7462025072446364
0.7505683356701913
0.8664002254439634
0.8006407690254357
0.8520128672302583
0.6987712429686842
0.6405126152203485
0.8850130404923038
0.9349534378964991
0.9254290458586866
0.6972899219794573
0.9816160794855359
0.9414688716912717
0.9258200997725514
0.6085806194501845
0.7885922213952744
0.898717034272917
0.8641264122753544
0.753778361444409
0.8803408430829505
0.949157995752499
0.8876720657463709
0.7505683356701913
0.8922268747738975
0.6963106238227914
0.8823548883285562
0.9381941874331419
0.8001976040538967
0.8093354826306433
0.8572508572512859
0.760885910252682
0.7727272727272727
0.6245106046150483
0.8825226081218283
0.7001400420140049
0.8498365855987975
0.8911327886790068
0.7981987297166114
0.8736209307562355
0.830336491706037
0.6028605644882188
0.9150793638884732
0.61665481259351
0.9712858623572641
0.9190182776172596
0.899235973995271
0.7881104062391007
0.6498364332886588
0.7960029457578487
0.8839599998785473
0.885253336275981
0.9600307214746387
0.5720775535473553
0.847822751996795
0.9133462590326238
0.5728918992315464
0.8381580761249496
0.7487048859271456
0.8920515501750789
0.7696825713954515
0.8017837257372732
0.8143450710459552
0.6432675209026769
0.7577722283113839
0.5797509043642028
0.6888467201936644
0.8539864924534399
0.9061847548617586
0.799502686333539
0.9165785722292266
0.5351295510095068
0.7216878364870323
0.7812200647385298
0.9320827648567408
0.9128709291752769
0.6803091303374612
0.82915619758885
0.7008766440504623
0.8663791001045901
0.9550718099505201
0.935082972409003
0.8126360553720011
0.8275862068965518
0.8074061938731717
0.9240265886932162
0.9609331989577097
0.8964374649555988
0.8430888544916528
0.6240377207533828
0.9271726499455305
0.821583836257749
0.8920515501750789
0.583383351196948
0.9052647736131278
0.5833333333333334
0.7926290870042666
0.8386278693775346
0.7810787627463989
0.6730364450951615
0.7928249671720918
0.8475706863595912
0.5877538136452587
0.6625413488689131
0.9085135251589959
0.8004448151580842
0.968962790249909
0.8807048459279794
0.9091219567475186
0.5378528742004771
0.9226870278438684
0.8947368421052629
0.8081220356417685
0.5582905262390824
0.8304547985373998
0.9166666666666666
0.9198662110078
0.9669875568304563
0.9203156936688812
0.9067647005823629
0.9021016049152025
0.8793040102298588
0.5393598899705936
0.7835467939002064
0.8221083073205848
0.7654655446197433
0.8314971796756813
0.9344102576728645
0.5833333333333334
0.7954951288348661
0.8890008890013334
0.8518434019286031
0.9304083928170915
0.8699176724016802
0.5370861555295747
0.8641585652180932
0.7222222222222222
0.9656090991705352
0.7627700713964739
0.8822575465125693
0.7171371656006361
0.9553170046101168
0.8090398349558905
0.8249579113843055
0.7284927963857741
0.7401527456927535
0.694022093788567
0.6333333333333333
0.8017837257372731
0.8690481892534816
0.8081901942077094
0.8749999999999998
0.8889155978893273
0.7401527456927535
0.7191465199607916
0.8889155978893273
0.8748177652797066
0.7803989725717079
0.8385254915624211
0.5708992257184501
0.5378561975930828
0.8292884288627292
0.8332432383729821
0.880450906325624
0.7533177846892134
0.8416254115301732
0.8461141122266493
0.8060323502739514
0.5923488777590923
0.9280776503073436
0.9438798074485389
0.8524367141602665
0.6092717958449424
0.9723055853282466
0.8897565210026093
0.8864052604279183
0.9112956546121257
0.9320953024731762
0.7865682304133546
0.7803989725717079
0.8743856497851875
0.5000000000000001
0.7577722283113839
0.8983222540938544
0.7981987297166114
0.9666666666666666
0.6674238124719146
0.8928436656664787
0.9328152465138774
0.9661300767465159
0.7469371177783697
0.7977240352174657
0.9400193421607683
0.9007546982220901
0.8333333333333335
0.7416770790872963
0.7254762501100116
0.808290376865476
0.8131156281817417
0.8583325077599887
0.8830215713766957
0.8516624609365031
0.9357754408380655
0.6882472016116852
0.9553170046101168
0.6467616667635546
0.7635417155709333
0.7572401854185359
0.8333333333333335
0.9138675629117189
0.8705715001320139
0.9381026756366438
0.8671099695241198
0.7429815363401153
0.8500474370064828
0.765465544619743
0.8406728074767076
0.9092412093166349
0.583383351196948
0.8767140075192092
0.760885910252682
0.6976315752707979
0.9284141650970551
0.6141922686399942
0.6454972243679028
0.6585527740981747
0.6749999999999999
0.8359173188630293
0.5241424183609592
0.8362420100070908
0.8122955416108235
0.8495482076828986
0.6936879756192958
0.7911548052852398
0.9583727150068314
0.686243566496721
0.8377078165833911
0.9729729729729731
0.8188812505260176
0.8944271909999159
0.9112956546121257
0.5473987486932373
0.9393364366277241
0.8396893026590251
0.7803989725717079
0.8891812384738002
0.7872501799617466
0.8444006618414981
0.7633862853691145
0.8685990362153791
0.9126643739222253
0.6936879756192958
0.7630583624573739
0.8922178162191937
0.7617500626155121
0.7745966692414834
0.8172694126965067
0.9134141431056325
0.8336550215650926
0.8262339491328653
0.6546536707079772
0.8667190566019205
0.8940593410189046
0.8017837257372732
0.6749999999999999
0.9163419338230351
0.8558961032361835
0.5408420485294111
0.8702852691526739
0.6295115802917068
0.8703882797784892
0.9389710680668848
0.6546536707079772
0.7660323462854266
0.8385566513510483
0.8652899256018457
0.7004727969157798
0.8671099695241198
0.9045340337332909
0.8019664101766867
0.8686028660424558
0.6024640760767093
0.893413025898047
0.8867021970429453
0.643267520902677
0.7612432304867113
0.9907424048765212
0.7559289460184544
0.8275862068965518
0.9041944301794651
0.9476128352180998
0.8924133096001623
0.9061847548617586
0.7698973538621049
0.5796951885499025
0.7419822332162693
0.8143450710459552
0.7977240352174656
0.9368000531717756
0.5056958712892093
0.6857142857142857
0.7319250547113999
0.8199200616907878
0.6154574548966636
0.799502686333539
0.9134141431056324
0.8787760582097436
0.9499311980589709
0.6968731476445668
0.8660254037844387
0.8058229640253802
0.8207826816681232
0.6681531047810609
0.8761370851094297
0.9315885051121783
0.7783117824941562
0.9259259259259259
0.9207368843792512
0.8804087784801333
0.7883421693396081
0.7844645405527362
0.8004448151580842
0.6864025490801687
0.8807048459279794
0.9104463009115372
0.673519882600406
0.6267831705280087
0.9024621789837646
0.8300573566392896
0.7446687115861396
0.6052275326688024
0.5960395606792697
0.8825960238069805
0.9444444444444444
0.8207677342949549
0.8586296628693791
0.8790953229099079
0.9162480502082881
0.7635417155709333
0.5378528742004771
0.9668594365838747
0.9190074972809804
0.8163716483922343
0.7298004491997617
0.7129310462392063
0.9686648999069225
0.6674238124719146
0.8611111111111112
0.8572151502191164
0.9134141431056324
0.9266964086291873
0.9070788404499484
0.8641264122753544
0.7467286566323438
0.9374999999999998
0.9274777915203366
0.9330597055272909
0.722296448010741
0.8060323502739514
0.6614378277661476
0.6197797868009122
0.6069327367499429
0.8944271909999159
0.9707253433941511
0.7637155440798606
0.6882472016116852
0.6315789473684209
0.9192723907499135
0.5377060884116287
0.9051771436856569
0.8626621856275073
0.7892456036675928
0.6864064729836442
0.8728715609439696
0.879452954966893
0.9656090991705352
0.6445729577225832
0.5668434311252413
0.9430225158385254
0.6443860762255926
0.8989331499509895
0.8240419241993677
0.6201736729460423
0.6588078458684122
0.7120689949163119
0.7647191129018724
0.8504200642707613
0.6923494970655764
0.5435230893060919
0.806225774829855
0.8232906452954606
0.9374100178301058
0.9266964086291873
0.7559289460184544
0.7412493166611013
0.8574929257125441
0.7807200583588264
0.8651809126974003
0.8185874846865607
0.4949015419574726
0.8273403039920306
0.8477912478906585
0.8940020829953894
0.7071067811865475
0.7441611006409123
0.8516624609365031
0.6225430174794672
0.9354143466934853
0.7647191129018724
0.8133257084405583
0.8451542547285166
0.6163156344279368
0.875
0.7266512079546679
0.6588078458684122
0.6773340106676828
0.7950463919999252
0.7319250547113999
0.6668859288553501
0.8697311348907114
0.6492344540642356
0.8486684247915055
0.9487179487179487
0.808158687660548
0.73543550676819
0.6963106238227914
0.8350973105825663
0.949716159867634
0.6639093924186636
0.5084751798731267
0.8171505630757668
0.9109983714512806
0.6978631577988531
0.6500112459665915
0.9254762227411246
0.7490058862731384
0.8736209307562355
0.925330636296748
0.9511897312113418
0.9687189593929656
0.5833333333333334
0.8366600265340756
0.8082238591204871
0.6432675209026769
0.9284766908852594
0.8131571126147261
0.49099025303098287
0.9369749612033813
0.7607257743127307
0.549169647365276
0.9338145262192008
0.9217648016985405
0.537831591218683
0.8001976040538967
0.6615185844757784
0.7150969419341943
0.6681531047810609
0.7938566201357354
0.755864750956896
0.8017837257372732
0.9025419790150205
0.4977957276938644
0.5512494616707104
0.6434939836876903
0.9594032236002469
0.9513652501417034
0.8109307588519342
0.7370434740955019
0.8975491104081189
0.8035886491116783
0.9886230654859615
0.8695819912499182
0.9181407605265931
0.9655180288004046
0.9476128352180998
0.9246584018191364
0.6712486220795378
0.9279339519604584
0.7254762501100116
0.8642416214502248
0.7499999999999999
0.8391463916782737
0.7911548052852398
0.8987170342729172
0.7637626158259734
0.6024640760767093
0.7359800721939872
0.7468160448149386
0.8634745134015928
0.9036961141150639
0.7421560439929402
0.7980238751210128
0.857690027870236
0.7514691493021793
0.9658363046183753
0.9328152465138774
0.6134346610139774
0.683536555146996
0.954291326985053
0.7894736842105262
0.5503495392790071
0.9254290458586866
0.8999999999999998
0.8029550685469661
0.882522608121828
0.5597691428330556
0.6356417261637282
0.9660917830792959
0.902730569228801
0.7071067811865475
0.7868894753646336
0.871812750115739
0.6827688932004728
0.541602560309064
0.899235973995271
0.8280786712108251
0.5533985905294664
0.883194467562194
0.8391463916782737
0.8609460320922785
0.6295115802917068
0.6154574548966636
0.6739548325214901
0.7635417155709334
0.9791666666666666
0.7523841248624462
0.643267520902677
0.8356716504931925
0.4364357804719847
0.7911548052852398
0.7701540462154054
0.7475319302283772
0.8714212528966687
0.8838834764831843
0.6037075533048724
0.9644856443408243
0.8131433980500301
0.7825855808712294
0.9095085938862487
0.7633862853691145
0.8846517369293828
0.9476128352180998
0.9703621633430174
0.6581451817144176
0.7144345083117603
0.5217491947499509
0.898717034272917
0.6028605644882188
0.772048646977956
0.9519716382329885
0.5833333333333334
0.8229511997978235
0.9411764705882353
0.7866673381098878
0.6123724356957946
0.9893999796062456
0.629940788348712
0.9628213020406186
0.9091372900969896
0.9116846116771036
0.8249579113843054
0.9252740542518731
0.8994895926845295
0.7071067811865475
0.6172133998483676
0.9176629354822469
0.9322824258825959
0.7601514248353713
0.9305415914315353
0.8961792537779262
0.9095085938862486
0.689883074727411
0.7982717345852616
0.7648661601319408
0.6028605644882188
0.8043618151097337
0.6159924028072145
0.8391463916782738
0.7367883976130071
0.7089175569585667
0.9669875568304563
0.6425754631219991
0.7637626158259733
0.936585811581694
0.9197090092274486
0.6003336113685631
0.5307227776030219
0.8547043234472845
0.8164965809277261
0.8214285714285713
0.9556913641729281
0.9158437663089954
0.7248824356090754
0.7828813612588127
0.9656090991705352
0.9109983714512806
0.6735753140545634
0.9045154217304137
0.8563488385776753
0.9510340687309483
0.8736209307562355
0.9341285531692914
0.6885303726590963
0.9206016138256
0.8874119674649424
0.8528028654224417
0.5833333333333334
0.9045340337332909
0.8283153665625823
0.560611910581388
0.8077815012894347
0.7977240352174656
0.7753981145352656

list

In [21]:
getNeighbors(user_data, user_data, 10)

1.0
1.0
1.0
0.9999999999999998
1.0
0.9999999999999999
1.0000000000000002
1.0
1.0000000000000002
1.0000000000000002
1.0000000000000002
0.9999999999999998
1.0
0.9999999999999998
1.0
0.9999999999999999
1.0000000000000002
1.0
0.9999999999999998
1.0
0.9999999999999999
0.9999999999999999
0.9999999999999998
0.9999999999999999
1.0
1.0
1.0
1.0
1.0
1.0000000000000002
0.9999999999999998
1.0000000000000002
0.9999999999999999
1.0
1.0
1.0
1.0000000000000002
1.0
1.0000000000000002
0.9999999999999999
1.0000000000000002
0.9999999999999998
1.0000000000000002
1.0
0.9999999999999998
0.9999999999999998
1.0000000000000002
1.0
1.0
1.0
1.0000000000000002
1.0
0.9999999999999998
0.9999999999999999
1.0
1.0
1.0
1.0000000000000002
1.0
1.0
0.9999999999999998
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0
1.0
0.9999999999999998
1.0
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0000000000000002
0.9999999999999998
0.9999999999999998
1.0000000000000002
0.9999999999999998
1.0000000000000002
1.0
1.0
0.9999999999999998
0.9999999999999999
1.0
1.0
0.9999999999999998
1.0000000000000002
1.0
1.0000000000000002
0.9999999999999999
0.9999999999999998
1.0
1.0
0.9999999999999999
1.0000000000000002
0.9999999999999998
1.0
0.9999999999999999
1.0
0.9999999999999998
0.9999999999999998
1.0
0.9999999999999999
1.0000000000000002
0.9999999999999999
1.0
1.0000000000000002
0.9999999999999999
1.0000000000000002
0.9999999999999999
1.0000000000000002
0.9999999999999999
1.0
0.9999999999999999
1.0000000000000002
1.0
1.0000000000000002
0.9999999999999998
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0
1.0
1.0000000000000002
1.0
1.0
0.9999999999999998
1.0
1.0
0.9999999999999998
1.0
1.0
1.0
0.9999999999999999
1.0
0.9999999999999998
1.0
1.0000000000000002
0.9999999999999999
0.9999999999999998
1.0
1.0
0.9999999999999999
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0
0.9999999999999998
0.9999999999999998
1.0000000000000002
1.0
1.0
1.0000000000000002
1.0
1.0000000000000002
1.0
1.0
0.9999999999999999
1.0000000000000002
1.0
1.0000000000000002
0.9999999999999998
1.0
1.0
1.0000000000000002
0.9999999999999998
1.0
0.9999999999999998
1.0
1.0
0.9999999999999999
1.0
1.0
1.0000000000000002
0.9999999999999998
1.0
0.9999999999999998
1.0000000000000002
1.0
1.0000000000000002
1.0000000000000002
1.0
1.0000000000000002
1.0
1.0000000000000002
1.0
0.9999999999999998
0.9999999999999999
0.9999999999999998
1.0
0.9999999999999998
1.0000000000000002
1.0000000000000002
1.0000000000000002
0.9999999999999998
0.9999999999999998
1.0
0.9999999999999998
1.0000000000000002
1.0
0.9999999999999998
1.0
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0
1.0
0.9999999999999999
0.9999999999999999
1.0000000000000002
0.9999999999999998
1.0
0.9999999999999998
1.0000000000000002
0.9999999999999999
1.0000000000000002
1.0
1.0
1.0
1.0
0.9999999999999999
1.0
1.0000000000000002
1.0
0.9999999999999999
1.0
1.0000000000000002
1.0
1.0000000000000002
1.0000000000000002
1.0
1.0
0.9999999999999999
0.9999999999999999
0.9999999999999998
1.0
0.9999999999999999
1.0000000000000002
1.0000000000000002
1.0
1.0
1.0000000000000002
1.0
1.0000000000000002
1.0000000000000002
0.9999999999999998
1.0
1.0
0.9999999999999998
1.0000000000000002
1.0
0.9999999999999998
1.0
1.0
1.0
1.0
1.0000000000000002
1.0000000000000002
1.0
0.9999999999999999
1.0
1.0000000000000002
0.9999999999999998
1.0
0.9999999999999999
1.0000000000000002
1.0
0.9999999999999999
0.9999999999999999
1.0
0.9999999999999999
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0
0.9999999999999998
1.0
1.0000000000000002
1.0
1.0
1.0
1.0
1.0000000000000002
1.0000000000000002
1.0
0.9999999999999998
1.0
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0
0.9999999999999999
1.0
0.9999999999999999
1.0
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0000000000000002
0.9999999999999998
1.0
1.0000000000000002
1.0
1.0
1.0000000000000002
0.9999999999999998
1.0000000000000002
1.0
0.9999999999999998
0.9999999999999998
1.0
1.0000000000000002
1.0
0.9999999999999998
1.0
1.0000000000000002
1.0
0.9999999999999998
1.0
0.9999999999999999
1.0000000000000002
1.0000000000000002
0.9999999999999999
1.0
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0000000000000002
0.9999999999999998
0.9999999999999998
0.9999999999999999
1.0
1.0
1.0000000000000002
1.0
1.0
1.0
1.0
1.0
1.0
1.0000000000000002
1.0000000000000002
1.0000000000000002
0.9999999999999998
1.0000000000000002
1.0000000000000002
0.9999999999999999
1.0
1.0
0.9999999999999999
0.9999999999999998
0.9999999999999999
1.0000000000000002
1.0
1.0
1.0
1.0
1.0000000000000002
1.0000000000000002
1.0000000000000002
0.9999999999999998
1.0
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0
0.9999999999999998
1.0
1.0
0.9999999999999999
0.9999999999999998
1.0000000000000002
1.0
1.0
1.0
1.0000000000000002
1.0000000000000002
0.9999999999999999
1.0
1.0000000000000002
1.0000000000000002
1.0
1.0000000000000002
0.9999999999999999
0.9999999999999999
1.0
1.0
1.0
1.0
1.0
0.9999999999999998
0.9999999999999998
1.0
1.0
1.0000000000000002
1.0000000000000002
1.0
1.0000000000000002
1.0
1.0
1.0
1.0000000000000002
1.0
1.0000000000000002
1.0
1.0000000000000002
1.0000000000000002
1.0000000000000002
0.9999999999999998
1.0000000000000002
1.0
0.9999999999999998
1.0000000000000002
1.0000000000000002
1.0
1.0000000000000002
0.9999999999999998
1.0
1.0
1.0
1.0
1.0
1.0
1.0000000000000002
1.0
1.0
0.9999999999999999
1.0
1.0000000000000002
0.9999999999999998
0.9999999999999998
1.0
1.0
1.0
1.0000000000000002
1.0
1.0
1.0000000000000002
0.9999999999999999
0.9999999999999999
1.0
0.9999999999999999
1.0
0.9999999999999999
1.0
1.0000000000000002
1.0
1.0
1.0000000000000002
1.0
1.0
0.9999999999999998
1.0
1.0000000000000002
1.0
1.0000000000000002
1.0
1.0000000000000002
1.0
1.0
1.0000000000000002
0.9999999999999998
1.0
1.0
1.0
1.0000000000000002
1.0
1.0
1.0000000000000002
0.9999999999999999
1.0000000000000002
0.9999999999999999
1.0000000000000002
1.0000000000000002
1.0
0.9999999999999998
0.9999999999999998
1.0
0.9999999999999999
1.0
1.0
1.0
1.0
0.9999999999999999
1.0000000000000002
1.0
0.9999999999999999
1.0
0.9999999999999999
1.0
1.0000000000000002
1.0000000000000002
1.0000000000000002
0.9999999999999999
0.9999999999999999
1.0
0.9999999999999998
0.9999999999999999
0.9999999999999998
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0
1.0000000000000002
0.9999999999999999
1.0000000000000002
1.0
0.9999999999999998
1.0000000000000002
0.9999999999999998
1.0000000000000002
0.9999999999999998
1.0
1.0
1.0000000000000002
0.9999999999999998
1.0000000000000002
1.0
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0
1.0
1.0000000000000002
1.0
1.0
1.0
1.0000000000000002
0.9999999999999998
1.0
0.9999999999999999
0.9999999999999999
0.9999999999999998
1.0
0.9999999999999998
0.9999999999999998
0.9999999999999999
1.0
0.9999999999999999
0.9999999999999999
1.0000000000000002
0.9999999999999999
0.9999999999999998
1.0
1.0000000000000002
0.9999999999999999
1.0000000000000002
1.0000000000000002
1.0
1.0000000000000002
1.0
1.0000000000000002
0.9999999999999998
0.9999999999999998
0.9999999999999999
1.0000000000000002
1.0000000000000002
1.0
1.0000000000000002
1.0
1.0000000000000002
1.0
0.9999999999999998
0.9999999999999998
1.0
1.0000000000000002
1.0
1.0
1.0
0.9999999999999999
0.9999999999999998
1.0
1.0
1.0
1.0000000000000002
1.0
0.9999999999999999
1.0000000000000002
1.0000000000000002
1.0000000000000002
0.9999999999999998
0.9999999999999998
1.0
1.0
0.9999999999999998
0.9999999999999998
0.9999999999999998
1.0000000000000002
1.0
0.9999999999999999
0.9999999999999998
1.0
1.0000000000000002
1.0
0.9999999999999998
1.0000000000000002
0.9999999999999998
1.0
1.0
0.9999999999999998
1.0000000000000002
1.0
0.9999999999999999
0.9999999999999999
1.0
1.0000000000000002
1.0
0.9999999999999999
0.9999999999999999
1.0
0.9999999999999998
1.0000000000000002
0.9999999999999999
1.0
1.0000000000000002
1.0000000000000002
0.9999999999999999
0.9999999999999998
1.0000000000000002
1.0000000000000002
0.9999999999999999
1.0000000000000002
1.0
0.9999999999999998
1.0000000000000002
1.0
0.9999999999999999
1.0
0.9999999999999998
0.9999999999999999
1.0000000000000002
1.0
0.9999999999999998
0.9999999999999999
1.0000000000000002
0.9999999999999999
1.0000000000000002
0.9999999999999998
0.9999999999999998
1.0
1.0
1.0000000000000002
1.0000000000000002
1.0
0.9999999999999999
1.0
0.9999999999999998
1.0
0.9999999999999998
1.0
1.0
1.0000000000000002
1.0000000000000002
1.0
1.0
0.9999999999999999
0.9999999999999999
1.0000000000000002
1.0000000000000002
0.9999999999999998
1.0000000000000002
0.9999999999999998
1.0
1.0
1.0000000000000002
0.9999999999999999
1.0000000000000002
1.0
1.0000000000000002
1.0
1.0
1.0
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0
1.0000000000000002
1.0000000000000002
1.0000000000000002
0.9999999999999999
0.9999999999999998
1.0
0.9999999999999998
1.0
1.0
1.0000000000000002
1.0
1.0000000000000002
1.0
0.9999999999999999
1.0
0.9999999999999999
1.0000000000000002
0.9999999999999998
0.9999999999999999
0.9999999999999999
0.9999999999999999
1.0000000000000002
0.9999999999999999
0.9999999999999999
1.0
1.0000000000000002
1.0000000000000002
0.9999999999999999
1.0
1.0000000000000002
0.9999999999999999
1.0000000000000002
1.0000000000000002
1.0
0.9999999999999999
1.0000000000000002
1.0
1.0
1.0
1.0000000000000002
1.0
1.0
1.0
0.9999999999999999
1.0000000000000002
1.0
1.0000000000000002
0.9999999999999999
0.9999999999999999
1.0
1.0000000000000002
1.0
1.0
1.0
0.9999999999999998
1.0
1.0000000000000002
1.0
1.0
1.0
1.0
1.0000000000000002
0.9999999999999998
0.9999999999999999
1.0
1.0000000000000002
1.0000000000000002
1.0
1.0
1.0
1.0
1.0
1.0000000000000002
0.9999999999999998
0.9999999999999998
0.9999999999999999
1.0000000000000002
0.9999999999999998
0.9999999999999998
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0
1.0
1.0000000000000002
0.9999999999999998
1.0
1.0000000000000002
1.0
1.0000000000000002
1.0000000000000002
0.9999999999999999
1.0
1.0
1.0000000000000002
0.9999999999999998
1.0
0.9999999999999998
1.0
1.0000000000000002
1.0
1.0
1.0000000000000002
0.9999999999999998
0.9999999999999999
1.0000000000000002
1.0000000000000002
1.0
1.0
1.0
1.0000000000000002
1.0
1.0000000000000002
0.9999999999999998
0.9999999999999998
1.0
1.0
1.0
0.9999999999999998
1.0000000000000002
1.0
1.0
0.9999999999999998
1.0000000000000002
1.0
1.0
0.9999999999999998
1.0
0.9999999999999999
1.0000000000000002
1.0
1.0
0.9999999999999998
1.0
1.0000000000000002
0.9999999999999999
1.0
1.0
1.0000000000000002
1.0000000000000002
1.0
0.9999999999999998
0.9999999999999999
1.0000000000000002
1.0000000000000002
1.0
1.0
1.0000000000000002
1.0
0.9999999999999999
1.0
1.0
1.0000000000000002
1.0
0.9999999999999999
1.0
1.0000000000000002
0.9999999999999999
0.9999999999999998
1.0
0.9999999999999998
1.0000000000000002
0.9999999999999999
0.9999999999999998
0.9999999999999998
1.0000000000000002
1.0
1.0
1.0000000000000002
1.0000000000000002
1.0000000000000002
1.0
1.0
1.0
0.9999999999999998
0.9999999999999998
1.0
0.9999999999999998
1.0
1.0
0.9999999999999998
1.0
1.0
1.0
0.9999999999999999
1.0000000000000002
0.9999999999999998
1.0000000000000002
0.9999999999999998
1.0
1.0
1.0
0.9999999999999999
1.0
1.0
1.0
0.9999999999999999
0.9999999999999999
1.0000000000000002
0.9999999999999998
1.0
0.9999999999999999
1.0000000000000002
1.0
1.0
0.9999999999999998
1.0
0.9999999999999998
0.9999999999999999
1.0000000000000002
0.9999999999999998
1.0
0.9999999999999998
1.0000000000000002
1.0
1.0
1.0000000000000002
0.9999999999999998
1.0
1.0000000000000002
1.0
1.0
1.0
0.9999999999999998
1.0
0.9999999999999999
0.9999999999999999
1.0000000000000002
0.9999999999999998
1.0
1.0000000000000002
1.0000000000000002
1.0
0.9999999999999998
1.0000000000000002
1.0
1.0
0.9999999999999998
1.0
1.0000000000000002
0.9999999999999999
1.0
1.0
1.0000000000000002
1.0
1.0
0.9999999999999999
0.9999999999999998
1.0000000000000002
1.0
1.0
1.0
0.9999999999999998
0.9999999999999999
1.0
0.9999999999999999
0.9999999999999999
0.9999999999999998
1.0000000000000002
1.0
1.0
1.0000000000000002
1.0000000000000002
1.0
1.0
1.0000000000000002
0.9999999999999999
1.0
0.9999999999999998
1.0
0.9999999999999999
0.9999999999999998
1.0000000000000002
1.0
1.0
1.0
1.0000000000000002
0.9999999999999998
1.0
1.0000000000000002
1.0000000000000002
1.0000000000000002
0.9999999999999999
1.0
1.0
0.9999999999999998
1.0
1.0000000000000002
1.0
0.9999999999999998
1.0
0.9999999999999998
1.0
1.0000000000000002
0.9999999999999998
0.9999999999999999
1.0
0.9999999999999999
1.0000000000000002
1.0000000000000002
1.0
1.0000000000000002
1.0
1.0000000000000002
1.0
0.9999999999999999
1.0
1.0000000000000002
1.0
1.0
0.9999999999999999
1.0
0.9999999999999998
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0

[        Experience  php  python  qa  js  qualification  level  age
 Userid
 5.0              1    1       0   0   0              3      2    2,
         Experience  php  python  qa  js  qualification  level  age
 Userid
 13.0             1    1       0   0   0              1      2    5,
         Experience  php  python  qa  js  qualification  level  age
 Userid
 15.0             3    0       0   1   0              2      3    3,
         Experience  php  python  qa  js  qualification  level  age
 Userid
 20.0             0    0       0   0   1              2      1    2,
         Experience  php  python  qa  js  qualification  level  age
 Userid
 24.0             3    1       0   0   0              3      3    2,
         Experience  php  python  qa  js  qualification  level  age
 Userid
 32.0             1    0       1   0   0              1      2    1,
         Experience  php  python  qa  js  qualification  level  age
 Userid
 43.0             0    0       0   0   1              1      1    4,
         Experience  php  python  qa  js  qualification  level  age
 Userid
 46.0             1    0       0   0   1              1      2    1,
         Experience  php  python  qa  js  qualification  level  age
 Userid
 47.0             0    1       0   0   0              3      1    3,
         Experience  php  python  qa  js  qualification  level  age
 Userid
 54.0             1    0       0   1   0              1      2    5]

In [41]:
cols = user_data.columns.tolist()
cols

['Experience', 'php', 'python', 'qa', 'js', 'qualification', 'level', 'age']

In [43]:
cols[-1], cols[-2] = cols[-2], cols[-1]
cols

['Experience', 'php', 'python', 'qa', 'js', 'qualification', 'age', 'level']

In [45]:
user_data = user_data[cols]
user_data.head()

        Experience  php  python  qa  js  qualification  age  level
Userid
1.0              0    1       0   0   0              1    1      1
2.0              4    0       0   0   1              2    5      3
3.0              4    0       1   0   0              2    3      3
4.0              4    0       0   1   0              2    4      3
5.0              1    1       0   0   0              3    2      2

In [28]:
company_data.head()

       Experience  php  python  qa  js  qualification  age  level
Jobid
1               0    0       0   0   1              1    4      1
2               1    0       0   0   1              1    3      2
3               0    0       0   0   1              1    3      1
4               4    0       0   0   1              2    4      3
5               2    0       1   0   0              1    4      2

In [70]:
 from functools import reduce
from itertools import compress

In [56]:
a = ['ram','shyam',3]
b = [3,4,5]
a+b
# list(reduce(lambda x,y :x>y, a+b))

[1, 2, 3, 3, 4, 5]

In [68]:
reduce(lambda x,y: x==y, a)

False

In [71]:
compress(a, b)

In [72]:
list(compress(a,b))

[1, 2, 3]

In [73]:
set(a) & set(b)

{3}

In [74]:
a = ['ram', 'shyam', 'hari']
b = ['sita', 'ram', 'shyam']
set(a) & set(b)

{'ram', 'shyam'}

In [75]:
set(a) - set(b)

{'hari'}