# Cosine Similarity

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import pairwise_distances
import csv

In [2]:
data = pd.read_csv('dataset.csv')
data.set_index ('Id',inplace = True)
data.head()

     Experience   Company  php  python  qa  js  qualification  level  age
Id
1.0         0.0  Deerwalk    1       0   0   0              1      1    1
2.0         4.0    F1soft    0       0   0   1              2      3    5
3.0         4.0  Leapfrog    0       1   0   0              2      3    3
4.0         4.0  Leapfrog    0       0   1   0              2      3    4
5.0         1.0    F1soft    1       0   0   0              3      2    2

In [3]:
company = data['Company']
company.head()

Id
1.0    Deerwalk
2.0      F1soft
3.0    Leapfrog
4.0    Leapfrog
5.0      F1soft
Name: Company, dtype: object

In [4]:
data.drop('Company', axis = 1, inplace= True)
data.head()

     Experience  php  python  qa  js  qualification  level  age
Id
1.0         0.0    1       0   0   0              1      1    1
2.0         4.0    0       0   0   1              2      3    5
3.0         4.0    0       1   0   0              2      3    3
4.0         4.0    0       0   1   0              2      3    4
5.0         1.0    1       0   0   0              3      2    2

In [12]:
test = data.iloc[[1]]
cosine_sim = 1-pairwise_distances(data,test, metric="cosine")
result= pd.DataFrame(cosine_sim)
result.head()

          0
0  0.674200
1  1.000000
2  0.950034
3  0.974172
4  0.804295

In [29]:
similar = result.stack()
final= similar.sort_values(ascending=False )
final = final.iloc[0:7:1]
final

855  0    1.000000
514  0    1.000000
1    0    1.000000
724  0    1.000000
956  0    0.996479
432  0    0.994987
35   0    0.994445
dtype: float64

In [46]:
rec_index = []
for (index,value) in final.iteritems():
    rec_index.append(((index[0]+1),value))
print(rec_index)

[(856, 1.0), (515, 1.0), (2, 1.0), (725, 1.0), (957, 0.99647864852674928), (433, 0.99498743710661997), (36, 0.99444479713328215)]

In [54]:
print(test)
for each in rec_index:
    print(company[each[0]])
    print(data.loc[each[0]])

     Experience  php  python  qa  js  qualification  level  age
Id
2.0         4.0    0       0   0   1              2      3    5
Leapfrog
Experience       4.0
php              0.0
python           0.0
qa               0.0
js               1.0
qualification    2.0
level            3.0
age              5.0
Name: 856.0, dtype: float64
Aayulogic
Experience       4.0
php              0.0
python           0.0
qa               0.0
js               1.0
qualification    2.0
level            3.0
age              5.0
Name: 515.0, dtype: float64
F1soft
Experience       4.0
php              0.0
python           0.0
qa               0.0
js               1.0
qualification    2.0
level            3.0
age              5.0
Name: 2.0, dtype: float64
F1soft
Experience       4.0
php              0.0
python           0.0
qa               0.0
js               1.0
qualification    2.0
level            3.0
age              5.0
Name: 725.0, dtype: float64
Aayulogic
Experience       5.0
php              0.0
python           0.0
qa               0.0
js               1.0
qualification    2.0
level            3.0
age              6.0
Name: 957.0, dtype: float64
Aayulogic
Experience       5.0
php              0.0
python           0.0
qa               0.0
js               1.0
qualification    3.0
level            3.0
age              6.0
Name: 433.0, dtype: float64
Leapfrog
Experience       5.0
php              0.0
python           0.0
qa               0.0
js               1.0
qualification    2.0
level            3.0
age              5.0
Name: 36.0, dtype: float64