In [25]:
import pandas as pd
import numpy as np
from sklearn.metrics import euclidean_distances
import csv

In [26]:
data = pd.read_csv('dataset.csv')
data.set_index ('Id',inplace = True)

In [27]:
company = data['Company']
data.drop('Company', axis = 1, inplace= True)
euclidean_sim = euclidean_distances(data)

In [28]:
result= pd.DataFrame(euclidean_sim)
#find most similar user with user 2
similar = result.iloc[[1]]

In [29]:
similar.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
1,6.244998,0.0,2.44949,1.732051,4.690416,4.358899,2.0,2.645751,3.316625,2.44949,...,2.645751,3.605551,4.898979,4.358899,1.732051,2.828427,2.0,2.0,5.291503,2.828427

In [30]:
similar = similar.stack()

final= similar.sort_values(ascending=False )
final = final.iloc[0:7:1]

In [31]:
rec_index = []
for (index,value) in final.iteritems():
    rec_index.append(index[1]+1)
print(rec_index)

[1, 828, 298, 286, 280, 144, 194]

In [32]:
for each in rec_index:
    print(company[each])
    print(data.loc[each])

Deerwalk
Experience       0.0
php              1.0
python           0.0
qa               0.0
js               0.0
qualification    1.0
level            1.0
age              1.0
Name: 1.0, dtype: float64
Aayulogic
Experience       0.0
php              0.0
python           1.0
qa               0.0
js               0.0
qualification    1.0
level            1.0
age              1.0
Name: 828.0, dtype: float64
Leapfrog
Experience       0.0
php              1.0
python           0.0
qa               0.0
js               0.0
qualification    3.0
level            1.0
age              1.0
Name: 298.0, dtype: float64
Deerwalk
Experience       0.0
php              1.0
python           0.0
qa               0.0
js               0.0
qualification    3.0
level            1.0
age              1.0
Name: 286.0, dtype: float64
F1soft
Experience       0.0
php              0.0
python           0.0
qa               1.0
js               0.0
qualification    3.0
level            1.0
age              1.0
Name: 280.0, dtype: float64
Leapfrog
Experience       0.0
php              0.0
python           0.0
qa               1.0
js               0.0
qualification    3.0
level            1.0
age              1.0
Name: 144.0, dtype: float64
Leapfrog
Experience       0.0
php              1.0
python           0.0
qa               0.0
js               0.0
qualification    3.0
level            1.0
age              1.0
Name: 194.0, dtype: float64