In [100]:
import collections
import pandas as pd

In [101]:
a = [(23, 0.95968343053631266), (13, 0.93316356894383878), (16, 0.92576873549442984), (14, 0.90687164694242206), (28, 0.90687164694242206), (25, 0.897946275466738), (11, 0.89141139828052385)]

In [102]:
b= [(19, 0.89442719099991597), (14, 0.89442719099991597), (1, 0.86602540378443882), (16, 0.86602540378443882), (2, 0.83333333333333326), (5, 0.83333333333333326), (10, 0.83333333333333326)]

In [113]:
c = a+b
c

[(23, 0.9596834305363127),
 (13, 0.9331635689438388),
 (16, 0.9257687354944298),
 (14, 0.9068716469424221),
 (28, 0.9068716469424221),
 (25, 0.897946275466738),
 (11, 0.8914113982805238),
 (19, 0.894427190999916),
 (14, 0.894427190999916),
 (1, 0.8660254037844388),
 (16, 0.8660254037844388),
 (2, 0.8333333333333333),
 (5, 0.8333333333333333),
 (10, 0.8333333333333333)]

In [120]:
df= pd.DataFrame(x)

In [121]:
df['freq'] = df.groupby(0)[0].transform('count')
df

     0         1  freq
0   16  0.925769     2
1   14  0.906872     2
2   14  0.894427     2
3   16  0.866025     2
4   23  0.959683     1
5   13  0.933164     1
6   28  0.906872     1
7   25  0.897946     1
8   11  0.891411     1
9   19  0.894427     1
10   1  0.866025     1
11   2  0.833333     1
12   5  0.833333     1
13  10  0.833333     1

In [122]:
df.drop_duplicates(0)

     0         1  freq
0   16  0.925769     2
1   14  0.906872     2
4   23  0.959683     1
5   13  0.933164     1
6   28  0.906872     1
7   25  0.897946     1
8   11  0.891411     1
9   19  0.894427     1
10   1  0.866025     1
11   2  0.833333     1
12   5  0.833333     1
13  10  0.833333     1

In [128]:
df.sort_values(1, ascending=False)

     0         1  freq
4   23  0.959683     1
5   13  0.933164     1
0   16  0.925769     2
1   14  0.906872     2
6   28  0.906872     1
7   25  0.897946     1
2   14  0.894427     2
9   19  0.894427     1
8   11  0.891411     1
3   16  0.866025     2
10   1  0.866025     1
11   2  0.833333     1
12   5  0.833333     1
13  10  0.833333     1

In [123]:
df.values.tolist()

[[16.0, 0.9257687354944298, 2.0],
 [14.0, 0.9068716469424221, 2.0],
 [14.0, 0.894427190999916, 2.0],
 [16.0, 0.8660254037844388, 2.0],
 [23.0, 0.9596834305363127, 1.0],
 [13.0, 0.9331635689438388, 1.0],
 [28.0, 0.9068716469424221, 1.0],
 [25.0, 0.897946275466738, 1.0],
 [11.0, 0.8914113982805238, 1.0],
 [19.0, 0.894427190999916, 1.0],
 [1.0, 0.8660254037844388, 1.0],
 [2.0, 0.8333333333333333, 1.0],
 [5.0, 0.8333333333333333, 1.0],
 [10.0, 0.8333333333333333, 1.0]]