In [1]:
import csv
import pandas as pd
import os
import random

In [2]:
userdata = pd.read_csv('finalUser.csv')
jobdata = pd.read_csv('finalJob.csv')

In [3]:
userdata.set_index('UserId',inplace = True)
userdata.head(1)

        Experience  php  python  qa  js  level  qualification  age
UserId
1.0              0    2       0   0   0      1              1    1

In [4]:
a=userdata.iloc[1].to_dict()
id =2
a['Jobid'] = id
print(a)

{'Experience': 4, 'php': 0, 'python': 0, 'qa': 0, 'js': 1, 'level': 3, 'qualification': 2, 'age': 5, 'Jobid': 2}

In [5]:
jobdata.set_index('Jobid',inplace = True)
jobdata.head(1)

       Experience  php  python  qa  js  level  qualification  age
Jobid
1               0    0       0   0   1      1              1    4

In [96]:
x = list(range(1,1001))

In [97]:
random.shuffle(x)

In [98]:
userdata['Jobid'] = x
userdata.head()

        Experience  php  python  qa  js  level  qualification  age  Jobid
UserId
1.0              0    2       0   0   0      1              1    1    409
2.0              4    0       0   0   1      3              2    5     60
3.0              4    0       2   0   0      3              2    3    854
4.0              4    0       0   1   0      3              2    4    505
5.0              1    2       0   0   0      2              3    2    221

In [99]:
userdata.index = userdata.index.astype(int)

In [100]:
userdata.head()

        Experience  php  python  qa  js  level  qualification  age  Jobid
UserId
1                0    2       0   0   0      1              1    1    409
2                4    0       0   0   1      3              2    5     60
3                4    0       2   0   0      3              2    3    854
4                4    0       0   1   0      3              2    4    505
5                1    2       0   0   0      2              3    2    221

In [101]:
userdata.to_csv('userfinal.csv')

In [116]:
new = pd.read_csv('userfinal.csv')

In [117]:
new.head()
new.set_index('UserId', inplace= True)

In [123]:
job = new['Jobid']

In [124]:
job.head()

UserId
1    409
2     60
3    854
4    505
5    221
Name: Jobid, dtype: int64

In [125]:
job[3]

854